<template name="editGame">
	<div class="container">
        <div class="row">
        	<div class="panel panel-primary">
        		<div class="panel-heading">{{game.name}}</div>
        		<div class="panel-body">
	        		<table class="table">	            	
			            <tr>
			            	<td>Thuisspelend team: </td>
			            	<td>
			            	<span class="text">{{game.home_team}}</span> 
			            	<input type="text" class="hidden" name="home_team" value="{{game.home_team}}"> 
			            	<a href="" class="editField pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
			            	</td>
			            </tr>
			            <tr>
			            	<td>Uitspelend team: </td>
			            	<td>
				            	<span class="text">{{game.away_team}}</span> 		
				            	<input type="text" class="hidden" name="away_team" value="{{game.away_team}}"> 
				            	<a href="" class="editField pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
			            	</td>
			            </tr>
			            <tr>
			            	<td>Datum: </td>
			            	<td>
				            	<span class="text">{{game.date}}</span>  
				            	<input type="text" class="hidden" name="date" value="{{game.date}}"> 
				            	<a href="" class="editField pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
			            	</td>
			            </tr>
						<tr>
			            	<td>Start: </td>
			            	<td>
			            		<span class="text">{{game.time}}</span>  
			            		<input type="text" class="hidden" name="time" value="{{game.time}}"> 
			            		<a href="" class="editField pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
			            	</td>
			            </tr>					
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="block-center col-md-4">
				stand {{score}} 
			</div>
		</div>
		<div class="row">
		  <div class="col-md-6">
		  		<div class="form-group">
			  		<div class="col-sm-10">
			  			<h3>{{game.home_team}}</h3>
			  		</div>
			  		<div class="col-sm-2">
	                    <button class="addPlayer btn  btn-success" data-team="home"><span class="glyphicon glyphicon-plus"></span></button>
	                </div>
		  		</div>
		  		
		  		
				{{#each players.home}}		
				<div class="col-sm-6 ">
			  		<div class="panel panel-primary player">	  		
			  			<div class="panel-heading clearfix">
			  				<span class="pull-left">{{name}}</span>
			  				<button class="pull-right btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
			  				<button class="pull-right btn btn-xs btn-info"><span class="glyphicon glyphicon-pencil"></span></button>

			  			</div>

				  			{{> addEvent}}
				  		
				  			{{> addScore}}
				  		
			  		</div>
			  	</div>

		  		{{/each}}


				<div class="form-group">
			  		<div class="col-sm-10">
			  			<h3>{{game.away_team}}</h3>
			  		</div>
			  		<div class="col-sm-2">
	                    <button class="addPlayer btn  btn-success" data-team="home"><span class="glyphicon glyphicon-plus"></span></button>
	                </div>
		  		</div>
		  		{{#each players.away}}		
				<div class="col-sm-6 ">
			  		<div class="panel panel-primary player">	  		
			  			<div class="panel-heading clearfix">
			  				<span class="pull-left">{{name}}</span>
			  				<button class="pull-right btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
			  				<button class="pull-right btn btn-xs btn-info"><span class="glyphicon glyphicon-pencil"></span></button>

			  			</div>

				  			{{> addEvent}}
				  		
				  			{{> addScore}}
				  		
			  		</div>
			  	</div>

		  		{{/each}}
	  		
		  </div>
		</div>
	</div>	

</template>