<template name="game">	

    <div class="container">
    	<div class="row">
	    	<div class="bg-primary col-md-4 col-md-offset-4">
	        	<h1 class="text-center">{{game.name}}</h1>
	        	<div class="text-center">
	        		<h2>{{score.homeTotal}} - {{score.awayTotal}}</h2>
	        	</div>
        	</div>
        </div>
		<div class="row">
			<div class="jumbotron clearfix">
				<h2>Score</h2>
				<div class="col-md-12">				
		        	{{#each players}}
		        		{{name}}	
		        		{{#each scores}}
		        			{{type}}
		        		{{/each}}
		        	{{/each}}
		        </div>
	        </div>
        </div>
        <div class="row">
	        <div class="jumbotron clearfix">
				<h2>Score per speler</h2>
				<div class="col-md-12">
		        	{{> scoreGraph }}		        
		        </div>
	    	</div>
        </div>
    </div>
</template>