<template name="admin">
    {{#if currentUser}}
        <div class="container">
            <div class="row">
                <div class="clearfix">
                    <div class="pull-left">
                        <h2>Mijn wedstrijden</h2>
                    </div>
                    <div class="pull-right">
                        <a href="/admin/wedstrijd/" role="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Wedstrijd aamaken</a>
                    </div>
                </div>
                <div class="list-group">
                     {{#each games}}
                        <a href="/admin/wedstrijd/{{_id}}" class="list-group-item">{{name}}</a>
                     {{/each}}                     
                </div>
            </div>
        </div>
    {{ else }}
       {{ > loginButtons }}
    {{/if}}

</template>