<head>    
    <title>Live app</title>    
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />    

    <style>
        #graph {
            width:960px;
            height:700px;
        }
        #graph text {
            font: 10px sans-serif;
            padding: 0px;
            top: -15px;
            color: white;
            display:inline-block;
        }
        #pie {
            padding:30px 100px;

        }

    /*#graph rect {
  	  font: 10px sans-serif;
  	  background-color: steelblue;
  	  text-align: right;
  	  padding: 3px;
  	  margin: 1px;
  	  color: white;
  	}*/

    </style>
</head>